@media only screen and(max-width: $break-medium-large) {
    .opdr {
        width: calc(33.33vw - 8px);
    }
}

@media only screen and(max-width: $break-small-medium) {
    .opdr {
        width: calc(50vw - 8px);
        height: 175px;
    }

}

@media only screen and(max-width: $break-small) {
    .opdr {
        width: calc(100vw - 8px);
        height: 175px;
    }
}
