.navbar {
	width: 100vw;
	height: 35px;

	top:0;

	z-index: 1;


	@include transition(all .5s ease-in-out);

	.navbutton {
		width: 35px;
		height: 35px;
		float: left;

		margin-left: 10px;

		background-color: black;
	}

}

.mapmenu {
	height: 35px;
	width: 100vw;

	position: absolute;
	bottom: 0;

	background-color: $accent-color;

	overflow: hidden;

	@include transition(all .5s ease-in-out);


	.btmnavbutton {
		width: 35px;
		height: 35px;
		background-color: black;

		display: table;
	    margin: 0 auto;

	}
	.mapup {
		height: calc(100vh - 35px);
		width: 100vh;

		overflow: scroll;
	}
}

.fullscreen {
	height:100vh;

}
