.navbar {
	width: 100vw;
	height: 35px;

	top:0;

	z-index: 1;


	@include transition(all .5s ease-in-out);

	.navbutton {
		width: 35px;
		height: 35px;
		float: left;

		margin: 10px;

		// margin-left: 10px;

		background-image: url(#{$img}ma_icon.png);
		background-size: cover;

		// background-color: black;
	}

}

.mapmenu {
	height: 35px;
	width: 100vw;

	position: fixed;
	bottom: 0;

	background-color: $accent-color;

	overflow: hidden;

	@include transition(all .5s ease-in-out);


	.btmnavbutton {
		width: 35px;
		height: 35px;

		background-image: url(#{$img}map_icon.png);
		background-size: cover;

		display: table;
		margin: 0 auto;

	}

	.layerbtn {
		width: 35px;
		height: 35px;

		background-image: url(#{$img}layer_icon.png);
		background-size: cover;

		margin:-35px 20px 0 0;

		float: right;

		@include transform(scale(0));
		@include transition(all .5s ease-in-out);

	}

	.mapup {
		height: calc(100% - 35px);
		// width: 100vh;

		background-color: white;

		overflow: scroll;
		@include transition(all .5s ease-in-out);

	}

	.maplayer {
		width: 35px;
		height: 95px;

		background-color: $divider-color;

		position: absolute;

		top: 45px;
		right: 21px;
		bottom: 0;

		border-radius: 5px;

		@include transform(scale(0));
		@include transition(all .3s ease-in-out);

		.add {
			margin-top: 10px;
			background-image: url(#{$img}add_icon.svg);
			background-size: cover;

			&:active {
				background-image: url(#{$img}addclick_icon.svg);
			}

		}

		.remove {
			margin-top: 10px;
			background-image: url(#{$img}remove_icon.svg);
			background-size: cover;

			&:active {
				background-image: url(#{$img}removeclick_icon.svg);
			}

		}
	}

	.scale {
		@include transform(scale(1));
		@include transition(all .5s ease-in-out);
	}

}

.sidemenu {
	height: 100%;

	background-color: black;
}

.btn {
	width: 35px;
	height: 35px;

}
.fullscreen {
	height:100vh;

}
