.navbar {
	width: calc(100vw - 60px);
	height: 110px;

	background-color: $primary-color;

	top:0;

	z-index: 1;

	padding: 0 30px;



	a {
		font-size: 14px;
		text-decoration: none;
		float: left;

		line-height: 30px;

		margin: 0 5px ;
		padding: 0 10px;

		text-transform: uppercase;

		color: $primary-color-text;

		&:visited {
			text-decoration: none;
			color: $primary-color-text;
		}

	}
}

.topnav {
	width: 100%;
	height: 60px;
	padding-top: 5px;
}

.right {
	float: right;
	height: 30px;
	width: 220px;

	a {
		width: auto;
		border-bottom: 2px solid transparent;

		&:hover {
			border-bottom:solid 2px $accent-color;

			@include transition(all .3s ease-in-out);

		}

		&:active {
			border-bottom:solid 2px $accent-color;
		}

	}
}

.left {
	@extend .right;
	width: auto;

	float: left;

	li {
		float: left;

		@extend .zdepth;

	}

}
