.wrapper {
	// width: calc(100% - 20px);
	width: 100vw;
	height: 100%;

	// margin: 0 10px;
	margin: 0px;

	overflow: hidden;

	z-index: -1;

	background:linear-gradient(
	rgba(0, 0, 0, .4),
	rgba(0, 0, 0, .4)
	),
	url(#{$img}background.jpg);

	background-size: cover;
	background-repeat: no-repeat;
}

.inputholder {
	height: 165px;
	width: 100%;
	position: absolute;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	text-align: center;

}

.inputcenter {
	width: 85%;

	position: absolute;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;


	input {
		width: 100%;
		height: 50px;

		padding: 0 10px;

		margin: 10px 0px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		position: relative;
		@include transition(all .5s ease-in-out);

		&:focus {
			width: 100%;
			@include transition(all .5s ease-in-out);
		}

		label {
			color: $divider-color;
			font-size:18px;
			font-weight:normal;
			position:absolute;
			pointer-events:none;
			left:5px;
			top:10px;
		}
	}
}

.locframe {
	width: 100vw;
	height:150px;
	position: absolute;

	z-index: 200;

	top: 0;
	right: 0;
	bottom:0;
	left: 0;

	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;

	@include transition(all .5s ease-in-out);


}

.searchframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom:0;
	left: 0;
	@include transition(all .5s ease-in-out);
}

.searchholder {
	height: 70px;
}
