.wrapper {
	// width: calc(100% - 20px);
	width: 100vw;
	height: 100vh;

	// margin: 0 10px;
	margin: 0px;

	z-index: -1;

	background:linear-gradient(
	rgba(0, 0, 0, .4),
	rgba(0, 0, 0, .4)
	),
	url(#{$img}background.jpg);

	background-size: cover;
	background-repeat: no-repeat;
}

.inputholder {
	height: calc(100vh - 35px);
	width: 100vw;

}

.inputcenter {
	text-align: center;
	position: absolute;
	height: 150px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	input {
		width: 80%;
		height: 50px;

		padding: 0 10px;

		margin: 10px 0px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		position: relative;
		@include transition(all .5s ease-in-out);

		&:focus {
			width: 90%;

			@include transition(all .5s ease-in-out);
		}
	}
}
